{% extends 'base.html' %}

{% block title %}
    测试网站|首页
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}
{% block nav_home_active %}
    active
{%endblock%}
{% block nav_blog_active %}

{%endblock%}
{% block content %}
    <h3 class="home-content">欢迎访问</h3>
    <!-- 图表容器 DOM -->
    <div id="container"></div>
    <!-- 今天24小时内的热门博客 -->
    <div class="hot-data">
        <h3>今日热门点击</h3>
        <ul>
            {% for hot_data in today_hot_data %}
            <li><a href="{% url 'blog_detail' hot_data.object_id %}">
            {{ hot_data.content_object.title }}({{ hot_data.read_num }})
            </a>
            </li>
            {% empty %}
            <li>暂无</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>昨日热门点击</h3>
        <ul>
            {% for hot_data in yesterday_hot_data %}
            <li><a href="{% url 'blog_detail' hot_data.object_id %}">
            {{ hot_data.content_object.title }}({{ hot_data.read_num }})
            </a>
            </li>
            {% empty %}
            <li>暂无</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot-data">
        <h3>一周热门点击</h3>
        <ul>
            {% for hot_blog in all_7_hot_data %}
            <li><a href="{% url 'blog_detail' hot_blog.id %}">
            {{ hot_blog.title }}({{ hot_blog.read_num_sum }})
            </a>
            </li>
            {% empty %}
            <li>暂无</li>
            {% endfor %}
        </ul>
    </div>
    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'
            },
            title: {
                text: null
            },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement:'on',
                title:{ text:'过去7天阅读数' },
            },
            yAxis: {
                title: {
                    text: null
                },
                labels:{ enabled:false },
                gridLineDashStyle: 'Dash'
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}                     // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend:{ enabled:false },
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}